@{
    ViewData["Title"] = "View";
}

@model Endurance.Web.Trial.ViewModels.Trial.ManageTrialViewModel

<header>
    <div class="row">
        <div class="container trial-info-container">
            <div class="col-md-4">
                <h1>@Model.Name</h1>
            </div>

            <div class="col-md-4">
                <h4>Location: <strong>@Model.Location</strong></h4>
                <h4>Date: <strong>@Model.Date</strong></h4>
            </div>

            <div class="col-md-4">
                <h4>Rouds: <strong>@Model.NumberOfRounds</strong></h4>
            </div>
        </div>
    </div>
</header>

<section id="competitors-container">
    @Html.EditorFor(m => m.Competitors)
</section>

@section Scripts {
    <script src="/js/api-performance.js">
    </script>
}