@{
    ViewData["Title"] = "View";
}

@model Endurance.Web.Trial.ViewModels.Trial.ManageTrialViewModel

<header>
    <div class="row">
        <div class="col-md-4">
            <h1>@Model.Name</h1>
        </div>

        <div class="col-md-4">
            <p>@Model.Location</p>
            <p>@Model.Date</p>
        </div>

        <div class="col-md-4">
            <p>Rouds: <strong>@Model.NumberOfRounds</strong></p>
        </div>
    </div>
</header>

<section id="competitors-container">
    @Html.EditorFor(m => m.Competitors)
</section>

@section Scripts {
    <script>
        var UPDATE_API = '/api/update/';

        $(function() {
            $('input').on('keypress', function(e) {
                console.log('Keypress');
                if (e.which === 13) {
                    console.log('enter');

                    var $input = $(this);
                    var endpoint = $input.attr('data-api-endpoint');
                    var performanceId = $input.parent().attr('data-performance-id');
                    var value = $input.val();

                    var requestUrl = UPDATE_API + performanceId + endpoint;
                    $.post(requestUrl, JSON.stringify(value))
                        .then(res => console.log(res))
                        .catch(err => console.log(err));
                }
            });
        })
    </script>
}