@using Resources.Endurance.Enums
@model Enum
@{
    var model = (Enum) Model;
    var isHidden = ViewData["Hidden"] != null ? "hidden" : null;
}

<div class="form-group @isHidden">
    <label asp-for="@Model" class="control-label"></label>
    <select 
        asp-for="@Model" 
        asp-items="@Html.GetEnumSelectList(model.GetType())" 
        class="form-control"></select>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>
