@model Endurance.Web.Trial.ViewModels.Trial.TrialCompetitorViewModel

@{
    var riderName = Model.Rider.FirstName + Model.Rider.LastName;
    var isDisqualifiedClass = Model.Disqualified ? "disqualified" : null;
}

<div class="row competitor-container @isDisqualifiedClass">
    <section class="col-md-3 head">
        <p>Number: <strong>@Model.Number</strong></p>
        <p>Rider: <strong>@riderName</strong></p>
        <p>Horse: <strong>@Model.Horse.Name</strong></p>
    </section>
    
    <section class="col-md-7 rounds row">
        @Html.EditorFor(m => m.Performances)
    </section>

    <section class="col-md-2 stats">
        @Html.DisplayFor(m => m.CurrentAvarageSpeedAtRounds)
    </section>
</div>
