@using Endurance.Web.Trial.ViewModels.Trial
@using Resources.Endurance.Enums
@model Endurance.Web.Trial.ViewModels.Trial.TrialRoundPerformanceViewModel

@{
    var isHidden = Model.FirstVetGateEntryStatus == VetGateStatus.NotEntered ? new {Hidden = true} : null;
}

<section class="performance-container" data-performance-id=@Model.Id>

    @Html.HiddenFor(m => m.Id)

    @Html.EditorFor(m => m.StartedAtTime)
    
    <div class="form-group">
        <label asp-for="@Model.FinishedAtTime" class="control-label"></label>
        <input asp-for="@Model.FinishedAtTime" data-api-endpoint="/finished" type="time" class="form-control" />
        <span asp-validation-for="@Model.FinishedAtTime" class="text-danger"></span>
    </div>
    
    @Html.EditorFor(m => m.VetGateEntryDeadlineTime)
    
    @Html.EditorFor(m => m.FirstVetGateEntryStatus)
    
    @Html.EditorFor(m => m.SecondVetGateEntryStatus, isHidden)

</section>

